<h1 class="text-center">Working with GET request</h1>
<div class="cards-box">
    <div class="card" *ngFor="let user of users">
        <img [src]="user.photo" alt="Photo" onerror="this.src='./assets/img.png'">
        <p [title]="user.name">{{user.name}}</p>
        <p>{{user.position}}</p>
        <p [title]="user.email">{{user.email}}</p>
        <p>{{user.phone | phone}}</p>
    </div>
    <div class="dummy"></div>
    <div class="dummy"></div>
</div>
<button class="btn" (click)="getMoreUsers()" *ngIf="!isEnd && (loadingHandler.isLoading$ | async) === false">Show more</button>
<div class="center">
    <img class="loader" src="./assets/Preloader.png" alt="Loader" *ngIf="(loadingHandler.isLoading$ | async) === true">
</div>

